.settings__setting .settings__sections_columns {
  display: flex;
  justify-content: space-between;
}

.settings__setting .settings_icon {
  font: size 20px;
  margin-right: 20px;
}

.settings .settings__title {
  margin-left: 30px;
  font-size: 22px;
  font-weight: 400;
}

.settings .settings__sections {
  padding: 30px 0px;
  border-top: 1px solid #f7f7f7;
}

.settings .settings__setting {
  margin-bottom: 20px;
}

.settings .settings__setting:last-child {
  margin-bottom: 0;
}

.settings__setting .settings__sections_version_nbr {
  opacity: 0.7;
  font-size: 20px;
}

.settings__icon {
  align-self: flex-end;
}
